<!DOCTYPE html>
<html>
<head>
  <title>Quizzes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
	<% if user_signed_in? %>
		Здравейте, <%= current_user.email %>.
		<%= link_to 'Изход', destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to 'Вход', new_user_session_path %> |
		<%= link_to 'Регистрация', new_user_registration_path %>
	<% end %>
</p>

<% if notice.present? %>
	<p class="flash notice"><%= notice %></p>
<% end %>
<% if alert.present? %>
	<p class="flash alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
